body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: #ff4b5c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #e63946;
}

.result {
  margin-top: 20px;
}

.scam {
  color: red;
}

.safe {
  color: green;
}